header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  /* position: absolute; */
  z-index: 100;
  top: 0;
  color: white;
  padding: 5px;
}

nav {
  color: white;

  /* border: solid; */
  display: flex;
  /* gap: 1em; */
  width: 400px;
  justify-content: end;

}

li {
  color: white;

  /* justify-content: start; */
  display: flex;
  gap: 3em;
  margin: 10px;
}

a {
  font-size: 14px;
  color: white;
  display: inline-block;
}
.logo-box{
  width: 100%;
}