header {
  display: flex;
  width: 100vw;
  /* justify-content: space-between; */
  align-items: center;
  position: fixed;
  /* position: absolute; */
  z-index: 100;
  top: 0;
  color: white;
  padding: 5px;
  /* border: solid; */
  margin-bottom: 15px;
}

nav {
  color: white;

  /* border: solid; */
  display: flex;
  /* gap: 1em; */
  width: 400px;
  justify-content: end;

}
.navs-link{
  transition: 0.4s ease-in-out;
  /* transition: ease-in-out; */
}
.navs-link:hover {
  cursor: pointer;
  /* color: black; */
  transition: 0.5s;
  background: #f4f7f9;
  background: #4d4d4f;
}

li {
  color: white;

  /* justify-content: start; */
  display: flex;
  gap: 3em;
  margin: 10px;
}

a {
  font-size: 14px;
  color: white;
  display: inline-block;
  padding: 8px;
  border-radius: 3px;
  /* border: solid; */
}

.logo-box {
  width: 100%;
}


/*///////////////
  */
.cart-icon {
  width: 10px;
  height: 1px;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  /* background-color: #000;
    color: #fff; */
  font-size: 15px;
  border-radius: 50%;
  margin-bottom: 20px;
  padding-right: 50px;
}
.logo{
  /* height: 70px; */
  color: white;
  border:solid;
  border-radius: 19px;
  padding: 4px;
  transition: 0.3s;
  /* color: red; */
  /* background-color: white; */
  /* border-color:white; */
}
.logo:hover{
  /* border-color: #4d4d4f; */
  color: rgb(106, 24, 24);
  background: #4d4d4f;
background: inherit;
}
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); */